h1{
  font-weight: 900;
  font-size: 1.9rem;
}

h6{
  font-weight: 900;
  font-size: 1.25rem;
}

.container-waiter-order{
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.container-waiter{
  background: rgba(0, 123, 155, 0.97);
  width: 41em;
  height: 38.7em;
}

.banner-container{
  background: #006B87;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.clientContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1.12em;
}

.clientName{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.25em;
}

.tableNumber{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menuNavBar{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btnMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.4em;
  width: 14.8em;
  background-color: #FFA093;;
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.57em;
  text-decoration: none;
}

.btnMenu:focus{
  background-color: #FF7663;
  transition: 0.5s;
}

input{
  background-color: #F8F8F8;
  opacity: 90%;
  color:#006B87;
  border-radius: 0.6em;
  outline: none;
  width: 18rem;
  height: 3rem;
  text-align: center;
  border: 0;
}

.inputNumer{
  width: 12rem;
  border-radius: 0.7em;
  border: 0;
}

::placeholder{
  color: #006B87;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}

/* Quita las flechas del input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Momentaneo (borrar) */
.containerBtnAdd{
  display: flex;
  justify-content: flex-end;
  margin: 0 2.9em 0.6em 0;
}

.submitBtn{
  background: none;
  border: none;
  outline: none;
}

.correctBtn{
  display: flex;
  align-items: flex-end;
  height: auto;
  margin-bottom: 0;
}

.svgBtn{
  font-size: 3.4rem;
}

input{
  text-transform: capitalize;
}

::-webkit-input-placeholder { /* WebKit browsers */
  text-transform: none;
}


