h1{
  font-weight: 900;
  font-size: 30px;
}

h6{
  font-weight: 900;
  font-size: 20px;
}

.container-waiter-order{
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.container-waiter{
  background: rgba(0, 123, 155, 0.97);
  width: 711px;
  height: 658px;
}

.banner-container{
  background: #006B87;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.clientContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0;
}

.clientName{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.tableNumber{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menuNavBar{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btnMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 56px;
  width: 237px;
  background-color: #FFA093;;
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
}

.btnMenu:focus{
  background-color: #FF7663;
  transition: 0.5s;
}

input{
  background-color: #F8F8F8;
  opacity: 90%;
  color:black;
  border-radius: 10px;
  outline: none;
  width: 280px;
  height: 48px;
  text-align: center;
}

::placeholder{
  color: #006B87;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}

/* Quita las flechas del input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Momentaneo (borrar) */
.containerBtnAdd{
  display: flex;
  justify-content: flex-end;
  margin: 0 40px 10px 0;
}


