*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
}

body{
  background-image: url('../src/assets/fondo-itadakimasu.jpg');
  background-repeat: no-repeat;
  height: 100vh;
}
