h1{
  font-weight: 900;
  font-size: 1.9rem;
}

.container-order{
  background: rgba(0, 123, 155, 0.97);
  width: 29em;
  height: 41em;
}


.banner-container{
  background: #006B87;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.totalOrder{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 0;
  background-color: #FFA093;
  height: 56px;
}

.btn-info.custom-btn{
  color: #FAFAFA;
  border-color: #FAFAFA;
  border-style: solid 5px;
  background-color: #006B87;
  height: 87px;
  width: 278px;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}
