
<div class="container-order">

  <div class="banner-container">
    <h1>PEDIDO</h1>
  </div>


  <div class="printProductContainer">
    <div class="printProduct">
      <ul>
        <p class="text" *ngFor="let item of selectedOrdersArray">
         {{item.clientName}} {{item.tableNumber}}
      </ul>
    <div class="printSelectedProduct" *ngFor="let product of selectedOrdersArray">
      <tr>
        <th>{{product.name}}</th> &nbsp;
        <th>{{product.price}}</th>
        <!--<th>{{product.drinkName}}</th> &nbsp;
        <th>{{product.drinkPrice}}</th>-->
      </tr>
    </div>
  </div>
</div>

  <div class="totalCheck">
    <div class="totalOrder">
      <h1>TOTAL</h1>
      <h1>$</h1>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-info custom-btn" (click)="sendToData()">ENVIAR</button>
    </div>
  </div>

</div>

<!--<div>
  <div *ngFor="let product of ordersArray; index as i">
    {{product.i}}
  </div>
</div>-->
