h1{
  font-weight: 900;
  font-size: 1.9rem;
}

.container-order{
  background: rgba(0, 123, 155, 0.97);
  width: 29em;
  height: 38.7em;
  display: flex;
  flex-direction: column;
}

.banner-container{
  background: #006B87;
  width: auto;
  height: 3.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.printProductContainer{
  height: 23em;
}

.clientInfoOrder{
  background:#0095BD;
  padding:0.5em 0em;
  font-size: 1.5em;
  height: 3.5em;
  width: auto;
  text-transform: capitalize;
  text-align: center;
}

.printProduct{
  height: 17.5em;
  overflow: auto;
}

/*SCROLL*/
.printProduct::-webkit-scrollbar {
  -webkit-appearance: none;
}

.printProduct::-webkit-scrollbar:vertical {
  width:0.6em;
}

.printProduct::-webkit-scrollbar-button:increment,
.printProduct::-webkit-scrollbar-button {
  display: none;
}

.printProduct::-webkit-scrollbar:horizontal {
  height: 0.6em;
}

.printProduct::-webkit-scrollbar-thumb {
  background-color: #00B5E4;
  border-radius: 1.2em;
}

.printProduct::-webkit-scrollbar-track {
  border-radius: 0.6em;
}
/*FIN SCROLL*/

.printSelectedProduct{
  background: #0187AA;
  margin: 0px 0.8em 0.7em 0em;
  padding: 0.4em 0.2em 0.4em 0.8em;
}

.quantityPrintProduct,
  .textPrintProduct {
  font-size: 1.4em;
  font-weight: 400;
  color:#FAFAFA;
  padding: 0 0.3em;
}

.quantityPrintProduct{
  background: #FFA093;
  border-radius: 0.3em;
  margin: 0.3em;
  font-size: 1.5em;
  padding: 0.2em 0.5em;
}

.quantityProduct{
  width: 8.1em;
  margin-right:6.2em;
}

.btnIncDesc{
  color:#FAFAFA;
  font-size: 1.9em;
}

.totalOrder{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.6em 0 0.6em 0;
  background-color: #FFA093;
  height: 3.5em;
  padding-top: 0.56em;
}

.btn-info.custom-btn{
  color: #FAFAFA;
  border-color: #FAFAFA;
  border-style: solid 5px;
  background-color: #006B87;
  height: 2.5em;
  width: 11em;
  font-size: 1.87em;
  font-weight: 700;
  margin-top: 0.62em;
}
