<div class="container-kitchen">
  <div class="banner-container">
    <h1>COCINA</h1>
  </div>

  <div class="containerKitchenCards">
    <div class="kitchenCard" *ngFor="let order of ordersObserverData; index as i">
      <div class="bannerCard">
        <div class="textBannerCard">
          <div class="clientInfo">
            <span> NOMBRE DE CLIENTE: {{order.clientName}}</span>
            <span> NÚMERO DE MESA: {{order.tableNumber}}</span>
          </div>
          <div class="orderNumber">
            <span> NÚMERO DE PEDIDO <br> {{i + 1}}</span>
          </div>
        </div>
      </div>
      <div class="productCard">
        <tr>
          <td colspan="3">
            <table style="width: 100%;">
              <tbody>
                <tr *ngFor="let lineItem of order.selectedItem">
                  <td class="numberText">{{lineItem.quantity}}</td>
                  <td>{{lineItem.product.name}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </div>
    </div>
  </div>
</div>

