.container-kitchen {
  background-color: rgba(0, 123, 155, 0.97);
  width: 67em;
  height: 38.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8%;
}

.banner-container {
  background: #006B87;
  width: 67em;
  height: 3.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.containerKitchenCards {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: auto;
}

/*SCROLL*/
.containerKitchenCards::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerKitchenCards::-webkit-scrollbar:vertical {
  width:10px;
}

.containerKitchenCards::-webkit-scrollbar-button:increment,
.containerKitchenCards::-webkit-scrollbar-button {
  display: none;
}

.containerKitchenCards::-webkit-scrollbar:horizontal {
  height: 10px;
}

.containerKitchenCards::-webkit-scrollbar-thumb {
  background-color: #00B5E4;
  border-radius: 20px;
}

.containerKitchenCards::-webkit-scrollbar-track {
  border-radius: 10px;
}
/*FIN SCROLL*/


.kitchenCard {
  background-color: #FAFAFA;
  margin: 20px;
  border-radius: 10px;
  width: 70%;
}

.bannerCard {
  background-color: #006B87;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 80px;
}

.textBannerCard {
  display: flex;
  font-weight: 400;
}

.numberText {
  width: 30px;
}

td {
  font-size: 20px;
  color: #007A9B;
}

.clientInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15px 0 0 20px;
}

.orderNumber {
  background-color: #FF7663;
  border-top-right-radius: 10px;
  text-align: center;
  height: 80px;
  width: 30%;
  padding-top: 15px;
}

.productCard {
  padding: 20px;
}
