.container-kitchen {
  background-color: rgba(0, 123, 155, 0.97);
  width: 67em;
  height: 38.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6%;
}

.banner-container {
  background: #006B87;
  width: 67em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}

.banner-container h1{
  font-weight: 900;
  font-size: 1.9rem;
}

.clientInfo span{
  font-size: 1.1em;
}

.containerKitchenCards {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: auto;
}

/*SCROLL*/
.containerKitchenCards::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerKitchenCards::-webkit-scrollbar:vertical {
  width:0.6em;
}

.containerKitchenCards::-webkit-scrollbar-button:increment,
.containerKitchenCards::-webkit-scrollbar-button {
  display: none;
}

.containerKitchenCards::-webkit-scrollbar:horizontal {
  height: 0.6em;
}

.containerKitchenCards::-webkit-scrollbar-thumb {
  background-color: #00B5E4;
  border-radius: 0.6em;
}

.containerKitchenCards::-webkit-scrollbar-track {
  border-radius: 0.6em;
}
/*FIN SCROLL*/


.kitchenCard {
  background-color: #FAFAFA;
  margin: 1.25em;
  border-radius: 0.9em;
  width: 70%;
}

.bannerCard {
  background-color: #006B87;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  width: 100%;
  height: 5.5em;
}

.textBannerCard {
  display: flex;
  font-weight: 400;
}

.numberText {
  width: 1.8em;
}

td {
  font-size: 1.2em;
  color: #007A9B;
  font-weight: 700;
}

.clientInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.9em 0 0 1.25em;
}

.orderNumber {
  background-color: #FF7663;
  border-top-right-radius: 0.9em;
  text-align: center;
  height: 5.5em;
  width: 18.7em;
  padding-top: 0.9em;
  font-weight: 800;
}

.orderNumber span{
  font-size: 1.2em;
}

.productCard {
  padding: 1.2em;
}
